///
/// SCSS color variables
///

@use 'sass:map';

// Grayscale.
$grayscale: (
	'white'     : '#ffffff',
	'gray-100'  : '#f4f4f4',
	'gray-200'  : '#e0e0e0',
	'gray-300'  : '#c6c6c6',
	'gray-400'  : '#a8a8a8',
	'gray-500'  : '#8d8d8d',
	'gray-600'  : '#6f6f6f',
	'gray-700'  : '#525252',
	'gray-800'  : '#393939',
	'gray-900'  : '#262626',
	'gray-1000' : '#161616',
	'black'     : '#000000'
);

// General colors.
$white       : #{map.get( $grayscale, 'white' )} !default;
$off_white   : #{map.get( $grayscale, '200' )} !default;
$pale_gray   : #{map.get( $grayscale, '300' )} !default;
$light_gray  : #{map.get( $grayscale, '500' )} !default;
$medium_gray : #{map.get( $grayscale, '700' )} !default;
$dark_gray   : #{map.get( $grayscale, '800' )} !default;
$near_black  : #{map.get( $grayscale, '1000' )} !default;
$black       : #{map.get( $grayscale, 'black' )} !default;

$red         : #dd0000 !default;
$orange      : #ee6600 !default;
$amber       : #ffcc44 !default;
$yellow      : #ffdd00 !default;
$lime        : #00ee00 !default;
$green       : #00bb00 !default;
$teal        : #00ddaa !default;
$cyan        : #00ccee !default;
$blue        : #0044aa !default;
$indigo      : #7722ff !default;
$violet      : #7711bb !default;
$purple      : #cc00aa !default;
$pink        : #ff55dd !default;
$error       : $red    !default;
$danger      : $red    !default;
$notify      : $orange !default;
$warning     : $yellow !default;
$success     : $green  !default;

$colors: (
	'off-white'   : $off_white,
	'pale-gray'   : $pale_gray,
	'light-gray'  : $light_gray,
	'medium-gray' : $medium_gray,
	'dark-gray'   : $dark_gray,
	'near-black'  : $near_black,
	'red'         : $red,
	'orange'      : $orange,
	'amber'       : $amber,
	'yellow'      : $yellow,
	'lime'        : $lime,
	'green'       : $green,
	'teal'        : $teal,
	'cyan'        : $cyan,
	'blue'        : $blue,
	'indigo'      : $indigo,
	'violet'      : $violet,
	'purple'      : $purple,
	'pink'        : $pink,
	'error'       : $error,
	'danger'      : $danger,
	'notify'      : $notify,
	'warning'     : $warning,
	'success'     : $success
) !default;

// Scheme colors.
$color_media: #0044aa !default;

$color_body:  #ffffff !default;
$color_text:  #333333 !default;
$color_one:   #0044aa !default;
$color_two:   #0044ff !default;
$color_three: #0044aa !default;
$color_four:  #0044ff !default;
$color_five:  #0044aa !default;
$color_six:   #0044ff !default;

$color_body_dark:  #1e1e1e !default;
$color_text_dark:  #ffffff !default;
$color_one_dark:   #0044ff !default;
$color_two_dark:   #0044cc !default;
$color_three_dark: #0044ff !default;
$color_four_dark:  #0044cc !default;
$color_five_dark:  #0044aa !default;
$color_six_dark:   #0044ff !default;

$scheme: (
	'media' : $color_media,
	'light' : (
		'body'  : $color_body,
		'text'  : $color_text,
		'one'   : $color_one,
		'two'   : $color_two,
		'three' : $color_three,
		'four'  : $color_four,
		'five'  : $color_five,
		'six'   : $color_six
	),
	'dark' : (
		'body'  : $color_body_dark,
		'text'  : $color_text_dark,
		'one'   : $color_one_dark,
		'two'   : $color_two_dark,
		'three' : $color_three_dark,
		'four'  : $color_four_dark,
		'five'  : $color_five_dark,
		'six'   : $color_six_dark
	),
	'extra' : (
		'red'    : $red,
		'orange' : $orange,
		'amber'  : $amber,
		'yellow' : $yellow,
		'lime'   : $lime,
		'green'  : $green,
		'teal'   : $teal,
		'cyan'   : $cyan,
		'blue'   : $blue,
		'indigo' : $indigo,
		'violet' : $violet,
		'purple' : $purple,
		'pink'   : $pink
	)
) !default;
